* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(248, 249, 250);
    background: url(images/rond.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 60%;
    margin-bottom: 20px;
}

#header {
    display: grid;
    grid-template-columns: repeat(3, 408.45px);
    justify-content: space-evenly;
}

.section1 {
    grid-column: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background: url(images/presentation.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.section2 {
    grid-column: 2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background: url(images/experience.png);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.section3 {
    grid-column: 3;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background: url(images/referentiel.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

input {
    background-color: transparent;
    padding: 5%;
    width: 100px;
    border-radius: 10%;
}

input:hover {
    background-color: rgb(167, 218, 219);
}

.methodedelecture {
    display: flex;
    border: 2px solid rgb(255, 221, 221);
    margin: 5%;
    padding: 2%;
    text-align: center;
}

#presentation {
    display: grid;
    grid-template-columns: 2;
    grid-gap: 10px;
    justify-content: space-around;
    margin: 10%;
    border-top: rgb(255, 221, 221) 5px solid;
    border-bottom: rgb(250, 209, 217, 255) 5px solid;
    border-bottom-width: 20%;
    padding: 20px;
}

.imagepresentation {
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.description {
    grid-column: 2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: left;
}

.description h1 {
    padding: 15px;
}

.description h2 {
    padding: 10px;
}

.description p {
    padding: 10px;
}

.social {
    display: flex;
    list-style: none;
}

.social li {
    margin: 4px;
}

.social a,
.social svg {
    display: inline-block;
    height: 18px;
    width: 18px;
}

#presentation img {
    width: 300px;
}

#experiences {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: rgb(167, 218, 219);
    padding: 10%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
}

#experiences img {
    width: 300px;
    height: 300px;
}

#experiences h3 {
    text-align: center;
    padding: 2%;
    grid-column: 1/4;
}

.chefprojet {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projet {
    position: relative;
}

.text {
    position: absolute;
    background-color: rgb(255, 221, 221, 0.5);
    font-size: 14px;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

.apprentiedev {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.developpementweb {
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#glossaire {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 80px;
}t

#glossaire img {
    width: 350px;
    height: 400px;
}

#glossaire h6 {
    grid-column: 1/4;
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 221, 221);
    padding: 3%;
}

.c1 {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    background-color: rgb(255, 221, 221);
    margin: 5%;
    text-align: center;
}

.c2 {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c3 {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    background-color: rgb(255, 221, 221);
    margin: 5%;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

table th {
    background-color: rgb(255, 221, 221);
}

table {
    margin-top: 30px;
}

table {
    text-align: center;
    width: 100%;
}

table td {
    padding: 1%;
    border-bottom: 1px solid gray;
}

.resume,
.domaine {
    margin: 1%;
    text-align: justify;
}


.resume span,
.domaine span {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

/* The Modal (background) */
.modal2,
.modal3 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content2,
.modal-content3 {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close,
.close2,
.close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close2:hover,
.close3:hover .close:focus,
.close2:focus,
.clos3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a,
button,
input {
    cursor: pointer;
}

.modal-footer {
    text-align: center;
    padding: 2%;
}

.btn-prev {
    border-radius: 10px;
    background-color: rgb(167, 218, 219);
    padding: 1%;
    margin-right: 30%;
    padding-left: 5%;
    padding-right: 5%;
}

.btn-next {
    border-radius: 10px;
    background-color: rgb(255, 221, 221);
    padding: 1%;
    margin-left: 20%;
    padding-left: 5%;
    padding-right: 5%;
}

span h4 {
    cursor: pointer;
}

span h4:hover {
    text-decoration: underline;
}

#scrollUp {
    position: fixed;
    bottom: 10px;
    right: -100px;
    opacity: 0.5;
    z-index: 2;
}

@media screen and (min-width: 767px) and (max-width: 1025px) {
    #header {
        width: 100%;}
}
